<div class="card">
    <div class="card-body">
        <div class="form-group">
            <input type="search" ng-change="change()" class="form-control" placeholder="Buscar por nombre">
        </div>
        <div class="form-group">
            <h5>Precio $</h5>
            <input type="search" class="form-control" placeholder="Monto minimo">
            <input type="search" class="mt-2 form-control" placeholder="Monto maximo">

            <button class="mt-2 btn btn-success btn-block">Aplicar filtro</button>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Categorias</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
    </div>
</div>