<div class="card-columns">
    <div *ngFor="let product of products" class="card">
        <img [src]="product.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <span class="badge badge-primary">${{product.price}}</span>
            <span class="badge badge-success">{{product.author}}</span>
        </div>
    </div>
</div>