<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img [src]="newProduct.image" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="text-center text-bold card-title">{{newProduct.name}}</h5>
          <span class="badge badge-primary">${{newProduct.price}}</span>
          <span class="badge badge-success">{{newProduct.category}}</span>
          <button class="mt-2 btn btn-info btn-block">Agregar al carrito</button>
          <button class="btn btn-success btn-block">Comprar ahora</button>
          <p class="mt-2 card-text">{{newProduct.category}}</p>
        </div>
      </div>
    </div>
  </div>