<div class="row">
    <div class="container m-4">
        <input #product type="text" (keyup)="search(product.value)" class="form-control" placeholder="Search products">
    </div>
    <app-product [products]="searchProducts"></app-product>
</div>